.container .row {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
form {
  margin-top: 40px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
form button {
  width: 100%;
}
nav {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.list-group-item {
  margin-top: 40px;
  text-align: center;
}